.container-search {
    background-color: #003e71;
    color: #000 !important;
}

.card-body{
    margin-left: 10px;
}

.input-group-prepend{
    margin-left: 20px;
}



.form-search-plan {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-form-search {
    background: rgb(245, 245, 245);
}