.container {
    background-color: #003e71;
}
.firma-ara{
    padding-bottom: 10px;
    padding-top: 100px;
}
.acik-renk-form{
    border-color: #003e71;
    border-width:3px;
    
    
}
.card-body{
    
    margin-left: 10px;
   
}
.input-group-prepend{
    margin-left: 20px;
}
#gt{
    
    background-color: #59bd8b;
    border-color:#59bd8b ;
    color:#ffffff;
}