.page-footer{
    
    background-color: #003e71;
    color: #ffffff;
}

.love {
    color: #59bd8b !important;
    background-color: #003e71;
}

.badge-residenciapp {
    color: #ffffff;
    background-color: #59bd8b;
}

.badge-residenciapp:hover {
    color: #ffffff !important;
    background-color: #59bd8b !important;
}