.firma-ara{
    padding-bottom: 100px;
    padding-top: 100px;
}
.acik-renk-form{
    border-color: #003e71;
    border-width:1px;
}
.card-body{
    background-color:#ffffff;
   
}
#gt{
    
    background-color: #59bd8b;
    border-color:#59bd8b ;
    color:#ffffff;
}